<!-- Sidebar -->
<div id="sidebar" class="bg-dark text-white">
    <i class="circle bi bi-person text-dark"></i>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a><!-- href can also be ="" instead of ="/" -->
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="wea">Weather</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/loc">Location</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="about">About</a> 
            <!-- routerLink needs to be imported in the same component -->
        </li>
    </ul>
    <h1 class="text-dark">Hidden text</h1>
</div>

<!-- Sidebar Toggler -->
<button id="sidebarToggler" class="btn btn-dark position-fixed" >
    <i class="bi bi-list"></i> <!-- Bootstrap Icons menu icon -->
</button>
