<div class="container d-flex flex-column justify-content-center align-items-center" >
    <!-- style="min-height: 100vh;"> -->
    <h2>About Us</h2>
    <br>
    <p class="container">This is a Weather Forecast application which fetches the weather data from 
      <a href="https://www.open-meteo.com" target="_blank" rel="noopener noreferrer">open-meteo</a> 
      which takes the latitude and the longitude to provide the temperature, humidity, 
      and weather conditions according to the query string provided.
    </p>
    <p class="container">
        This application also has a page for which consumes an API  
        <a href="https://www.geoapify.com/">Geoapify</a> which provides 
        the longitude and latitude of a city. 
    </p>
    <p class="container">
      Both the APIs are used to get the weather forecast of a city by using the first API to get the 
      latitude and longitude of a user entered city and to get the weather forecast of that latitude
       and longitude by consuming the second API.
    </p>
  </div>
  