<div class="container d-flex flex-column justify-content-center align-items-center" >
    <!-- style="min-height: 100vh;"> -->
    <h2>About Us</h2>
    <p class="container">This is a Weather Forecast application which fetches the weather data from 
      <a href="https://www.open-meteo.com" target="_blank" rel="noopener noreferrer">open-meteo</a> 
      which takes the latitude and the longitude to provide the temperature, humidity, 
      and weather conditions according to the query string provided.
    </p>
    <p class="container">
        This application also has a page for which consumes an API named geoapify 
        <a href="https://www.geoapify.com/">Geoapify</a> which provides 
        the longitude and latitude of a city.
    </p>
  </div>
  